body {
    background-image: linear-gradient(to bottom ,white,snow, gray );

    background-size: cover;
    background-attachment: fixed;
}
/* Navbar */
.navbar {
    background-color: #343a40 !important;
    border-radius: 0px 0px 70px 70px;
    direction: rtl;
  }
  
  .navbar .navbar-brand {
    color: #fff !important;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar .nav-link {
    color: #f1f1f1 !important;
    transition: 0.3s;
    font-size: 1rem;
  }
  
  .navbar .nav-link:hover {
    color: #00bcd4 !important;
  }
  
  /* زرار الثلاث شرط (navbar-toggler) */
  .navbar-toggler {
    background-color: #fff;
    margin-left: 20px;
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.625);
    transition: 0.5s;
  }
  
  /* ظهور العناصر بعد فتح القائمة */
  .navbar-collapse {
    transition: 1s;
  }
  .ul li {
    margin-bottom: 10px;
    font-size: 30px;
    margin-bottom: 40px;

  }






.carousel-caption{
	text-shadow: 2px 2px 4px #000;
}

h5{
font-size: 40px;



}
/*forn styles*/





label,text,input{width: 100%;}


.d-block-w-100{

    
}

#carouselrcc{
    margin: auto;
    
width: 90%;



}


@media (max-width:650px){
body {
    background-image: url(../images/WhatsApp%20Image%202022-12-21%20at%2006.29.34.jpg);
}
#leftsec {
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 2%;
    padding-right: 2%;
}
	
	#righttsec {
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 2%;
    padding-right: 2%;
}
	
	
	
	
	
	
}
